<main>
    <div class="position-relative">
        <!-- shape Hero -->
        <section class="section section-lg section-shaped pb-250">
            <div class="shape shape-style-2 bg-gradient-default">
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
            </div>
            <div class="container py-lg-md d-flex">
                <div class="col px-0">
                    <div class="row">
                        <div class="col-lg-12 mb-4">
                            <h1 class="display-3  text-white">decentralized
                                <span>university fund</span>
                            </h1>
                            <h3 class="lead  text-white">This managed fund keeps all donations and revenues under a locked endowment account. This fund is managed by automated smart contracts and/or professional fund managers to make steady low-risk returns over time.</h3>
                            <h3 class="lead  text-white">Even though the endowment funds are locked, the returns can be withdrawn to some specific ends:</h3>
                            <ul>
                                <li class="lead  text-white">Paying grants to good students</li>
                                <li class="lead  text-white">Paying for GSN relayed calls</li>
                                <li class="lead  text-white">Routing a operational budget to pay registered providers</li>
                                <li class="lead  text-white">Reinvesting inside the endowment locked value</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="separator separator-bottom separator-skew">
                <svg x="0" y="0" viewBox="0 0 2560 100" preserveAspectRatio="none" version="1.1" xmlns="http://www.w3.org/2000/svg">
                    <polygon class="fill-secondary" points="2560 0 2560 100 0 100"></polygon>
                </svg>
            </div>
        </section>
        <section class="section bg-secondary">
            <div class="container">
                <div class="row row-grid align-items-center">
                    <div class="col-lg-12">
                        <div class="card card-profile shadow mt--200">
                            <div class="card-header bg-gradient-neutral text-center">
                                <h4>Funds Information</h4>
                            </div>
                            <div class="card-body bg-gradient-neutral">
                                <input *ngIf=userIsFundManager #inputSize class="form-control" placeholder="Operation Size (in 1e18)" type="text" size=32>
                                <div class="row">
                                    <div class="col">
                                        <div class="pl-1">
                                            <h5 class="title text-primary">Stored assets</h5>
                                            <ul>
                                                <li *ngFor="let item of assetsData | keyvalue"><button *ngIf=userIsFundManager class="btn btn-sm btn-warning" (click)="sendToken(item.key, inputSize.value)">Send</button>{{item.key}}: <strong>{{item.value}}</strong></li>
                                            </ul>
                                            <h5 class="title text-primary">Invested underlying assets</h5>
                                            <ul>
                                                <li *ngFor="let item of investmentResultsData | keyvalue">{{item.key}}: <strong>{{item.value}}</strong></li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="col">
                                        <div class="pl-1">
                                            <h5 class="title text-success">Invested funds</h5>
                                            <ul>
                                                <li *ngFor="let item of investmentData | keyvalue"><button *ngIf=userIsFundManager class="btn btn-sm btn-primary" (click)="deposit(item.key, inputSize.value)">Deposit</button>
                                                    <button *ngIf=userIsFundManager class="btn btn-sm btn-primary" (click)="redeem(item.key, inputSize.value)">Redeem</button>{{item.key}}: <strong>{{item.value}}</strong></li>
                                            </ul>
                                            <br>
                                            <h5 class="title text-success">Uniswap liquidity providing</h5>
                                            <ul>
                                                <li *ngFor="let item of uniswapData | keyvalue"><button *ngIf=userIsFundManager class="btn btn-sm btn-primary" (click)="provide(item.key, inputSize.value)">Provide</button>
                                                    <button *ngIf=userIsFundManager class="btn btn-sm btn-primary" (click)="remove(item.key, inputSize.value)">Remove</button>{{item.key}}: <strong>{{item.value}}</strong></li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="col">
                                        <div class="pl-1">
                                            <h5 class="title text-warning">Aave open positions</h5>
                                            <ul>
                                                <li *ngFor="let item of aaveBorrowData | keyvalue"><button *ngIf=userIsFundManager class="btn btn-sm btn-primary" (click)="enterMarket(item.key)">Enter</button>
                                                    <button *ngIf=userIsFundManager class="btn btn-sm btn-primary" (click)="exitMarket(item.key)">Exit</button>
                                                    <button *ngIf=userIsFundManager class="btn btn-sm btn-warning" (click)="borrow(item.key, inputSize.value)">Borrow</button>
                                                    <button *ngIf=userIsFundManager class="btn btn-sm btn-success" (click)="repay(item.key, inputSize.value)">Repay</button>{{item.key}}: <strong>{{item.value}}</strong></li>
                                                <li class="title text-success">Aave total colateral: <strong>{{aaveColateral}}</strong> ETH equivalent</li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="col">
                                        <div class="pl-1">
                                            <h5 class="title text-warning">Compound open positions</h5>
                                            <ul>
                                                <li *ngFor="let item of compoundBorrowData | keyvalue"><button *ngIf=userIsFundManager class="btn btn-sm btn-primary" (click)="enterMarket(item.key)">Enter</button>
                                                    <button *ngIf=userIsFundManager class="btn btn-sm btn-primary" (click)="exitMarket(item.key)">Exit</button>
                                                    <button *ngIf=userIsFundManager class="btn btn-sm btn-warning" (click)="borrow(item.key, inputSize.value)">Borrow</button>
                                                    <button *ngIf=userIsFundManager class="btn btn-sm btn-success" (click)="repay(item.key, inputSize.value)">Repay</button>{{item.key}}: <strong>{{item.value}}</strong></li>
                                                <li class="title text-success">Compound total colateral: <strong>{{compoundColateral}}</strong> ETH equivalent</li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</main>