<main>
    <section class="section section-shaped section-lg">
        <div class="shape shape-style-1 bg-gradient-default">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
        </div>
        <div class="container py-lg-md d-flex">
            <div class="col">
                <div class="row mb-4">
                    <div *ngIf=!globals.selectedClassroom class="col-lg-8 mb-4">
                        <h1 class="display-3  text-white">get started
                            <span>begin your journey today</span>
                        </h1>
                        <p class="lead  text-white">Climb your way to mastering a new skill in 7 easy steps. In this process you can earn money and even become a teacher yourself in the end.
                            <div class="btn-wrapper">
                                <a [routerLink]="['/']" class="btn btn-white btn-icon mb-3 mb-sm-0">
                                    <span class="btn-inner--icon"><i class="fa fa-arrow-left"></i></span>
                                    <span class="btn-inner--text">Back</span>
                                </a>
                                <a (click)="openModal('custom-modal-search-classroom');" class="btn btn-primary text-white btn-icon mb-3 mb-sm-0">
                                    <span class="btn-inner--icon"><i class="fa fa-search"></i></span>
                                    <span class="btn-inner--text">Search Address</span>
                                </a>
                            </div>
                    </div>
                    <div *ngIf=globals.selectedClassroom class="col-lg-8 mb-4">
                        <h1 class="display-3  text-white">classroom
                            <span>{{globals.selectedClassroom.title}}</span>
                            <span *ngIf=globals.selectedClassroom.metadata.ENSName class="text-muted" style="font-size:smaller;">@{{globals.selectedClassroom.metadata.ENSName}}</span>
                        </h1>
                        <p *ngIf=globals.selectedClassroom.metadata.description class="lead text-white">{{globals.selectedClassroom.metadata.description}}</p>
                        <p *ngIf=!globals.selectedClassroom.metadata.description class="lead text-white">No metadata for description.</p>
                        <div *ngIf=globals.selectedClassroom.ENSHasNotice&&displayNotice #classroomNotice class="alert alert-info alert-dismissible fade show" role="alert">
                            <button type="button" class="close" aria-label="Close" (click)="closeNotice()">
							  <span aria-hidden="true">&times;</span>
							</button>
                            <strong>Classroom Notice: </strong> {{globals.selectedClassroom.metadata.notice}}
                        </div>
                        <div class="btn-wrapper">
                            <a [routerLink]="['/']" class="btn btn-white btn-icon mb-3 mb-sm-0">
                                <span class="btn-inner--icon"><i class="fa fa-arrow-left"></i></span>
                                <span class="btn-inner--text">Back</span>
                            </a>
                            <a (click)="openModal('custom-modal-classroomInfo');" class="btn btn-success text-white btn-icon mb-3 mb-sm-0">
                                <span class="btn-inner--icon"><i class="fa fa-search"></i></span>
                                <span class="btn-inner--text">Details</span>
                            </a>
                        </div>
                    </div>
                    <div class="col-lg-4" *ngIf="globals.mode=='loadingPage'">
                        <div class="card card-lift--hover shadow border-0 text-center">
                            <div class="card-body py-5">
                                <div class="icon icon-shape icon-shape-warning rounded-circle fa-3x mb-4">
                                    <i class="fa fa-wifi"></i>
                                </div>
                                <h6 class="text-warning text-uppercase">Connecting</h6>
                                <p class="description mt-3">Connecting to your Wallet Provider and DeEd University.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4" *ngIf="globals.mode=='unconnected'">
                        <div class="card card-lift--hover shadow border-0 text-center">
                            <div class="card-body py-5">
                                <div class="icon icon-shape icon-shape-info rounded-circle mb-4">
                                    <i class="fa fa-star"></i>
                                </div>
                                <h6 class="text-info text-uppercase">Welcome to DeEd</h6>
                                <p class="description mt-3">To connect to DeEd you need to install a Portis Wallet.
                                </p>
                                <button class="btn btn-info mt-4" (click)="conectPortis()">Conect Portis</button>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4" *ngIf="globals.mode=='connected'">
                        <div class="card card-lift--hover shadow border-0 text-center">
                            <div class="card-body py-5">
                                <div class="icon icon-shape icon-shape-primary rounded-circle mb-4">
                                    <i class="fa fa-user"></i>
                                </div>
                                <h6 class="text-primary text-uppercase">Register Your Account</h6>
                                <p class="description mt-3">To use to DeEd you need to register at University.</p>
                                <div #onLoginPlaceholder1></div>
                                <button class="btn btn-primary mt-4" (click)="openModal('custom-modal-register'); txOn();">Register DeEd</button>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4" *ngIf="globals.mode=='registered'">
                        <div class="card card-lift--hover shadow border-0 text-center">
                            <div class="card-body py-5">
                                <div class="icon icon-shape icon-shape-success rounded-circle mb-4">
                                    <i class="fa fa-user"></i>
                                </div>
                                <h6 class="text-success text-uppercase">Connected</h6>
                                <p class="description">Address: {{globals.address}} </p>
                                <button [routerLink]="['/student']" class="btn btn-success mt-4">Go to Account</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div *ngIf=!globals.userIsClassroomAdmin class="row mb-4">
                    <div class="col-lg-4 mt-4">
                        <div class="card card-lift--hover shadow border-0 text-center">
                            <div class="card-body py-5">
                                <div class="icon icon-shape icon-shape-default rounded-circle mb-4">
                                    1
                                </div>
                                <h6 class="text-default text-uppercase">Apply For Course</h6>
                                <p class="description mt-3">To connect to DeEd you need to install a Portis Wallet.</p>
                                <a *ngIf=globals.selectedClassroom (click)="openModal('custom-modal-1'); txOn();" class="btn btn-default mt-4 text-white">Apply</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 mt-4">
                        <div class="card card-lift--hover shadow border-0 text-center">
                            <div class="card-body py-5">
                                <div class="icon icon-shape icon-shape-default rounded-circle mb-4">
                                    2
                                </div>
                                <h6 class="text-default text-uppercase">Call for a Grant</h6>
                                <p class="description mt-3">To connect to DeEd you need to install a Portis Wallet.</p>
                                <a *ngIf=globals.selectedClassroom (click)="openModal('custom-modal-2'); txOn();" class="btn btn-default mt-4 text-white">Call</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 mt-4">
                        <div class="card card-lift--hover shadow border-0 text-center">
                            <div class="card-body py-5">
                                <div class="icon icon-shape icon-shape-default rounded-circle mb-4">
                                    3
                                </div>
                                <h6 class="text-default text-uppercase">Start Application</h6>
                                <p class="description mt-3">To connect to DeEd you need to install a Portis Wallet.</p>
                                <a *ngIf=globals.selectedClassroom (click)="openModal('custom-modal-3'); txOn();" class="btn btn-default mt-4 text-white">Deposit</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 mt-4">
                        <div class="card card-lift--hover shadow border-0 text-center">
                            <div class="card-body py-5">
                                <div class="icon icon-shape icon-shape-default rounded-circle mb-4">
                                    4
                                </div>
                                <h6 class="text-default text-uppercase">Access Material</h6>
                                <p class="description mt-3">To connect to DeEd you need to install a Portis Wallet.</p>
                                <a *ngIf=globals.selectedClassroom (click)="openModal('custom-modal-4'); txOn();" class="btn btn-default mt-4 text-white">Recieve</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 mt-4">
                        <div class="card card-lift--hover shadow border-0 text-center">
                            <div class="card-body py-5">
                                <div class="icon icon-shape icon-shape-default rounded-circle mb-4">
                                    5
                                </div>
                                <h6 class="text-default text-uppercase">Submit Your Answer</h6>
                                <p class="description mt-3">To connect to DeEd you need to install a Portis Wallet.</p>
                                <a *ngIf=globals.selectedClassroom (click)="openModal('custom-modal-5'); txOn();" class="btn btn-default mt-4 text-white">Submit</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-8 mt-4">
                        <div class="card card-lift--hover shadow border-0 text-center">
                            <div class="card-body py-5">
                                <div class="icon icon-shape icon-shape-default rounded-circle mb-4">
                                    6
                                </div>
                                <h6 class="text-default text-uppercase">Claim Your Reward</h6>
                                <p class="description mt-3">To connect to DeEd you need to install a Portis Wallet.</p><br>
                                <a *ngIf=globals.selectedClassroom (click)="openModal('custom-modal-6'); txOn();" class="btn btn-default mt-4 text-white">Claim</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 mt-4">
                        <div class="card card-lift--hover shadow border-0 text-center">
                            <div class="card-body py-5">
                                <div class="icon icon-shape icon-shape-default rounded-circle mb-4">
                                    7
                                </div>
                                <h6 class="text-default text-uppercase">Start your own classroom</h6>
                                <p class="description mt-3">To connect to DeEd you need to install a Portis Wallet.</p>
                                <a *ngIf=globals.selectedClassroom (click)="openModal('custom-modal-7'); txOn();" class="btn btn-default mt-4 text-white">Claim</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div *ngIf=!globals.selectedClassroom class="row mb-4">
            <div class="container">
                <div class="card bg-gradient-success shadow-lg border-0">
                    <div class="p-5">
                        <div class="row align-items-center">
                            <div class="col-lg-8">
                                <h4 class="text-white">Start by choosing the perfect classroom for you.</h4>
                                <p class="lead text-white mt-3">You will need to connect to a wallet service in order to interact with this dApp.</p>
                            </div>
                            <div class="col-lg-3 ml-lg-auto"><a [routerLink]="['/']" fragment=classrooms class="btn btn-lg btn-block btn-white">SELECT CLASSROOM</a></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <div *ngIf=globals.userIsClassroomAdmin class="container">
        <br><br><br>
        <div class="card card-profile shadow mt--300">
            <div class="px-4">
                <div class="text-center mt-5">
                    <h4 *ngIf=globals.selectedClassroom.isClassroomNotOpen() class="text-light">Status: <span class="badge badge-pill badge-info">Not Open</span></h4>
                    <h4 *ngIf=globals.selectedClassroom.isClassroomOpen() class="text-light">Status: <span class="badge badge-pill badge-success">Open</span></h4>
                    <h4 *ngIf=globals.selectedClassroom.isClassroomClosed() class="text-light">Status: <span class="badge badge-pill badge-warning">Closed</span></h4>
                    <h4 *ngIf=globals.selectedClassroom.isClassroomActive() class="text-light">Status: <span class="badge badge-pill badge-primary">Ongoing</span></h4>
                    <h4 *ngIf=globals.selectedClassroom.courseFinished class="text-light">Status: <span class="badge badge-pill badge-dark">Finished</span></h4>
                </div>
                <div class="mt-2 py-5 border-top text-center">
                    <h4>Classroom Management</h4>
                    <div class="row justify-content-center">
                        <br>
                        <button class="btn btn-md btn-info width:120px" (click)="openModal('classroom-metadata-admin')">Metadata</button>
                        <button class="btn btn-md btn-info width:120px" (click)="openModal('classroom-params-admin')">Params</button>
                        <button class="btn btn-md btn-info width:120px" (click)="openModal('classroom-funds-admin')">Funds</button>
                        <button class="btn btn-md btn-warning width:120px" (click)="openModal('classroom-configs-admin')">Configs</button>
                        <button class="btn btn-md btn-warning width:120px" (click)="openModal('classroom-transfer-admin')">Transfer</button>
                    </div>
                </div>
                <div class="mt-2 py-5 text-left">
                    <h5>Funds in Classroom: {{globals.selectedClassroom.classdata.funds}} DAI</h5>
                </div>
            </div>
        </div>
        <br>
        <br>
    </div>
    <jw-modal id="classroom-metadata-admin">
        <div *ngIf=globals.selectedClassroom class="row justify-content-center">
            <div class="col-md-12">
                <div class="card shadow border-0">
                    <div class="card-body py-5">
                        <h4 class="UniversityAdmins mt-3">ENS Name: <span class="text-default">{{globals.selectedClassroom.metadata.ENSName}}</span>
                            <span *ngIf=globals.selectedClassroom.metadata.ENSName class="badge badge-pill badge-success">Recorded</span>
                            <span *ngIf=!globals.selectedClassroom.metadata.ENSName class="badge badge-pill badge-warning">Not Recorded</span></h4>
                        <button type="button" class="btn btn-warning" *ngIf=!globals.selectedClassroom.metadata.ENSName (click)="registerENSRecord()">Register</button>
                        <div class="form-group">
                            <label for="classroomMetadataSelectType">Metadata field</label>
                            <select #classroomMetadataSelectType class="form-control" id="classroomMetadataSelectType">
							  <option>email</option>
							  <option>url</option>
							  <option>avatar</option>
							  <option>description</option>
							  <option>notice</option>
							</select>
                        </div>
                        <div class="form-group">
                            <label for="classroomMetadataValueInput">Value: </label>
                            <input #classroomMetadataValueInput type="text" class="form-control" id="classroomMetadataValueInput" placeholder="new value">
                        </div>
                        <button type="button" class="btn btn-info" (click)="setMetadataRecord(classroomMetadataSelectType.value, classroomMetadataValueInput.value)">Change</button>
                    </div>
                </div>
            </div>
        </div>
    </jw-modal>
    <jw-modal id="custom-modal-search-classroom">
        <div role="document" class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-content">
                    <div class="modal-header">
                        <h6 class="modal-title" id="modal-title-default">Search classroom</h6><button (click)="closeModal('custom-modal-search-classroom')" aria-label="Close" class="close" data-dismiss="modal" type="button"><span aria-hidden="true">×</span></button></div>
                    <div class="modal-body">
                        <p>You can input the address or ENS patch for your address. If you don't know, you can check the list in the university page.</p>
                        <div class="input-group mb-4">
                            <div class="input-group-prepend"><span class="input-group-text"><i class="ni ni-zoom-split-in"></i></span></div><input #searchClassroom class="form-control" placeholder="Search" type="text" (input)="resetSearchClassroomModalErrorMsg()"></div>
                        <p *ngIf=searchClassroomModalProgressMsg class="text-warning mb-0" style="font-weight:bold;">Searching...</p>
                        <p *ngIf=searchClassroomModalErrorMsg class="text-warning mb-0" style="font-weight:bold;">Classroom not found!</p>
                    </div>
                    <div class="modal-footer"><button class="btn btn-primary" type="button" (click)="searchForClassroomModal(searchClassroom.value)">Enter</button><button class="btn btn-link  ml-auto" data-dismiss="modal" (click)="closeModal('custom-modal-search-classroom')" type="button">Close</button></div>
                </div>
            </div>
        </div>
    </jw-modal>
    <jw-modal id="custom-modal-register">
        <form role="form">
            <div class="row justify-content-center">
                <div class="col-md-8">
                    <div class="card shadow bg-gradient-default border-0">
                        <div class="card-body py-5">
                            <h3 class="text-center text-white">Register at University</h3>
                            <div class="row mt-3">
                                <div class="col-md-12">
                                    <h2 class="description text-white">Argon is a great free UI package based on Angular that includes the most important components and features.</h2>
                                </div>
                            </div>
                            <div class="row mt-3">
                                <div class="col-md-12">
                                    <div class="form-group" [ngClass]="{'focused':focus===true}">
                                        <div class="input-group input-group-alternative mb-3">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text"><i class="ni ni-hat-3"></i></span>
                                            </div>
                                            <input class="form-control" placeholder="Name" type="text" (focus)="focus=true" (blur)="focus=false">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="form-group" [ngClass]="{'focused':focus1===true}">
                                        <div class="input-group input-group-alternative mb-3">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text"><i class="fa fa-link"></i></span>
                                            </div>
                                            <input class="form-control" placeholder="Address" type="text" (focus)="focus1=true" (blur)="focus1=false">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row mt-3">
                                <div class="col-md-12">
                                    <div class="alert alert-warning" role="alert">
                                        <strong>Warning!</strong> Processing Transation...
                                    </div>
                                    <div class="alert alert-success" role="alert">
                                        <strong>Success!</strong> This is a success alert—check it out!
                                    </div>
                                    <div class="alert alert-danger" role="alert">
                                        <strong>Failed!</strong> This is a danger alert—check it out!
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card-footer bg-gradient-default">
                            <a (click)="closeModal('custom-modal-register')" class="btn btn-neutral btn-icon mb-3 mb-sm-0">
                                <span class="btn-inner--icon"><i class="fa fa-university"></i></span>
                                <span class="btn-inner--text">Back</span>
                            </a>
                            <a class="btn btn-success btn-icon text-white mb-3 mb-sm-0">
                                <span class="btn-inner--icon"><i class="fa fa-sync"></i></span>
                                <span class="btn-inner--text">Register</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </jw-modal>
    <jw-modal id="custom-modal-1">
        <form role="form">
            <div class="row justify-content-center">
                <div class="col-md-6">
                    <div class="card shadow bg-gradient-default border-0">
                        <div class="card-body py-5">
                            <h3 class="text-center text-white">Apply for this classroom</h3>
                            <div class="row mt-3">
                                <div class="col-md-12">
                                    <h2 class="description text-white">Argon is a great free UI package based on Angular that includes the most important components and features.</h2>
                                </div>
                            </div>
                            <div class="row mt-3">
                                <div class="col-md-12">
                                    <div class="form-group" [ngClass]="{'focused':focus===true}">
                                        <div class="input-group input-group-alternative mb-3">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text"><i class="fa fa-code"></i></span>
                                            </div>
                                            <input id="inputObjClassroomAddress" #inputObjClassroomAddress disabled class="form-control" placeholder="Classroom Address" value={{globals.selectedClassroom.smartcontract}} type="text" (focus)="focus=true" (blur)="focus=false">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row mt-3">
                                <div class="col-md-12">
                                    <div *ngIf="txMode=='preTX'" class="alert alert-neutral" role="alert">
                                        <strong class="text-default">You need confirm this transaction on your portis wallet!</strong>
                                    </div>
                                    <div *ngIf="txMode=='processingTX'" class="alert alert-warning" role="alert">
                                        <strong>Wait!</strong> Sending your application...
                                    </div>
                                    <div *ngIf="txMode=='successTX'" class="alert alert-success" role="alert">
                                        <strong>Success!</strong> This is a success alert—check it out!
                                    </div>
                                    <div *ngIf="txMode=='failedTX'" class="alert alert-danger" role="alert">
                                        <strong>Failed!</strong> This is a danger alert—check it out!
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card-footer bg-gradient-default">
                            <a (click)="closeModal('custom-modal-1'); txOff(); refreshClassroomInfo();" class="btn btn-neutral btn-icon mb-3 mb-sm-0">
                                <span class="btn-inner--icon"><i class="fa fa-arrow-left"></i></span>
                                <span class="btn-inner--text">Back</span>
                            </a>
                            <a *ngIf="txMode=='preTX'" type="submit" (click)="applyClassroom(inputObjClassroomAddress.value)" class="btn btn-success btn-icon text-white mb-3 mb-sm-0">
                                <span class="btn-inner--icon"><i class="fa fa-send"></i></span>
                                <span class="btn-inner--text">Apply</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </jw-modal>
    <jw-modal id="custom-modal-2">
        <form role="form">
            <div class="modal-header">
                <h3 class="modal-title">Start Your Application</h3>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group" [ngClass]="{'focused':focus===true}">
                            <div class="input-group input-group-alternative mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="ni ni-hat-3"></i></span>
                                </div>
                                <input class="form-control" placeholder="Name" type="text" (focus)="focus=true" (blur)="focus=false">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group" [ngClass]="{'focused':focus1===true}">
                            <div class="input-group input-group-alternative mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="fa fa-link"></i></span>
                                </div>
                                <input class="form-control" placeholder="Address" type="text" (focus)="focus1=true" (blur)="focus1=false">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="progress">
                    <div class="progress-bar bg-success" role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary">Save changes</button>
                <button type="button" class="btn btn-secondary" (click)="closeModal('custom-modal-2');">Close</button>
            </div>
        </form>
    </jw-modal>
    <jw-modal id="custom-modal-3">
        <form role="form">
            <div class="modal-header">
                <h3 class="modal-title">Call for a grant</h3>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group" [ngClass]="{'focused':focus===true}">
                            <div class="input-group input-group-alternative mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="ni ni-hat-3"></i></span>
                                </div>
                                <input class="form-control" placeholder="Name" type="text" (focus)="focus=true" (blur)="focus=false">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group" [ngClass]="{'focused':focus1===true}">
                            <div class="input-group input-group-alternative mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="fa fa-link"></i></span>
                                </div>
                                <input class="form-control" placeholder="Address" type="text" (focus)="focus1=true" (blur)="focus1=false">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="progress">
                    <div class="progress-bar bg-success" role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary">Save changes</button>
                <button type="button" class="btn btn-secondary" (click)="closeModal('custom-modal-3');">Close</button>
            </div>
        </form>
    </jw-modal>
    <jw-modal id="custom-modal-4">
        <form role="form">
            <div class="modal-header">
                <h3 class="modal-title">Recieve classroom material</h3>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group" [ngClass]="{'focused':focus===true}">
                            <div class="input-group input-group-alternative mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="ni ni-hat-3"></i></span>
                                </div>
                                <input class="form-control" placeholder="Name" type="text" (focus)="focus=true" (blur)="focus=false">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group" [ngClass]="{'focused':focus1===true}">
                            <div class="input-group input-group-alternative mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="fa fa-link"></i></span>
                                </div>
                                <input class="form-control" placeholder="Address" type="text" (focus)="focus1=true" (blur)="focus1=false">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="progress">
                    <div class="progress-bar bg-success" role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary">Save changes</button>
                <button type="button" class="btn btn-secondary" (click)="closeModal('custom-modal-4');">Close</button>
            </div>
        </form>
    </jw-modal>
    <jw-modal id="custom-modal-5">
        <form role="form">
            <div class="modal-header">
                <h3 class="modal-title">Submit your answer</h3>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group" [ngClass]="{'focused':focus===true}">
                            <div class="input-group input-group-alternative mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="ni ni-hat-3"></i></span>
                                </div>
                                <input class="form-control" placeholder="Name" type="text" (focus)="focus=true" (blur)="focus=false">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group" [ngClass]="{'focused':focus1===true}">
                            <div class="input-group input-group-alternative mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="fa fa-link"></i></span>
                                </div>
                                <input class="form-control" placeholder="Address" type="text" (focus)="focus1=true" (blur)="focus1=false">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="progress">
                    <div class="progress-bar bg-success" role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary">Save changes</button>
                <button type="button" class="btn btn-secondary" (click)="closeModal('custom-modal-5');">Close</button>
            </div>
        </form>
    </jw-modal>
    <jw-modal id="custom-modal-6"></jw-modal>
    <jw-modal id="custom-modal-7"></jw-modal>
    <jw-modal id="custom-modal-details">
        <form role="form">
            <div class="modal-header">
                <h3 class="modal-title">Classroom Details</h3>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group" [ngClass]="{'focused':focus===true}">
                            <div class="input-group input-group-alternative mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="ni ni-hat-3"></i></span>
                                </div>
                                <input class="form-control" placeholder="Name" type="text" (focus)="focus=true" (blur)="focus=false">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group" [ngClass]="{'focused':focus1===true}">
                            <div class="input-group input-group-alternative mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="fa fa-link"></i></span>
                                </div>
                                <input class="form-control" placeholder="Address" type="text" (focus)="focus1=true" (blur)="focus1=false">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group" [ngClass]="{'focused':focus===true}">
                            <div class="input-group input-group-alternative mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="ni ni-hat-3"></i></span>
                                </div>
                                <input class="form-control" placeholder="Name" type="text" (focus)="focus=true" (blur)="focus=false">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group" [ngClass]="{'focused':focus1===true}">
                            <div class="input-group input-group-alternative mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="fa fa-link"></i></span>
                                </div>
                                <input class="form-control" placeholder="Address" type="text" (focus)="focus1=true" (blur)="focus1=false">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group" [ngClass]="{'focused':focus===true}">
                            <div class="input-group input-group-alternative mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="ni ni-hat-3"></i></span>
                                </div>
                                <input class="form-control" placeholder="Name" type="text" (focus)="focus=true" (blur)="focus=false">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group" [ngClass]="{'focused':focus1===true}">
                            <div class="input-group input-group-alternative mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="fa fa-link"></i></span>
                                </div>
                                <input class="form-control" placeholder="Address" type="text" (focus)="focus1=true" (blur)="focus1=false">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary">Save changes</button>
                <button type="button" class="btn btn-secondary" (click)="closeModal('custom-modal-details');">Close</button>
            </div>
        </form>
    </jw-modal>
    <jw-modal id="custom-modal-classroomInfo">
        <app-classroomInfo></app-classroomInfo>
    </jw-modal>
</main>