<main>
    <section class="section section-shaped section-lg">
        <div class="shape shape-style-1 bg-gradient-default">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
        </div>
        <div class="container py-lg-md d-flex">
            <div class="col">
                <div *ngIf=globals.selectedClassroom class="row mb-4">
                    <div class="col-lg-8 mb-4">
                        <h1 class="display-3  text-white">classroom
                            <span>Learn Solidity</span>
                        </h1>
                        <p class="lead  text-white">Here you can see all details of this course and interact with classroom smart contract.
                        </p>
                        <div class="btn-wrapper">
                            <a (click)="openModal('custom-modal-details');" class="btn btn-success btn-icon mb-3 mb-sm-0">
                                <span class="btn-inner--icon"><i class="fa fa-search"></i></span>
                                <span class="btn-inner--text">Details</span>
                            </a>
                            <a href="#classrooms" class="btn btn-white btn-icon mb-3 mb-sm-0">
                                <span class="btn-inner--icon"><i class="fa fa-arrow-left"></i></span>
                                <span class="btn-inner--text">Back</span>
                            </a>
                        </div>
                    </div>
                    <div class="col-lg-4" *ngIf="globals.mode=='loadingPage'">
                        <div class="card card-lift--hover shadow border-0 text-center">
                            <div class="card-body py-5">
                                <div class="icon icon-shape icon-shape-warning rounded-circle fa-3x mb-4">
                                    <i class="fa fa-wifi"></i>
                                </div>
                                <h6 class="text-warning text-uppercase">Connecting</h6>
                                <p class="description mt-3">Connecting to your Wallet Provider and DeEd University.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4" *ngIf="globals.mode=='unconnected'">
                        <div class="card card-lift--hover shadow border-0 text-center">
                            <div class="card-body py-5">
                                <div class="icon icon-shape icon-shape-info rounded-circle mb-4">
                                    <i class="fa fa-star"></i>
                                </div>
                                <h6 class="text-info text-uppercase">Welcome to DeEd</h6>
                                <p class="description mt-3">To connect to DeEd you need to install a Portis Wallet.</p>
                                <button class="btn btn-info mt-4" (click)="conectPortis()">Conect Portis</button>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4" *ngIf="globals.mode=='connected'">
                        <div class="card card-lift--hover shadow border-0 text-center">
                            <div class="card-body py-5">
                                <div class="icon icon-shape icon-shape-primary rounded-circle mb-4">
                                    <i class="fa fa-user"></i>
                                </div>
                                <h6 class="text-primary text-uppercase">Register Your Account</h6>
                                <p class="description mt-3">To do a apllication and use DeEd you need to register at University.</p>
                                <div #onLoginPlaceholder1></div>
                                <button class="btn btn-primary mt-4" (click)="openModal('custom-modal-register')">Register DeEd</button>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4" *ngIf="globals.mode=='registered'">
                        <div class="card card-lift--hover shadow border-0 text-center">
                            <div class="card-body py-5">
                                <div class="icon icon-shape icon-shape-success rounded-circle mb-4">
                                    <i class="fa fa-wallet"></i>
                                </div>
                                <h6 class="text-success text-uppercase">Your Account</h6>
                                <p class="description mt-3">Address: usdhfusdgfuisdhidshfiodshfhdsiofjhdiofjdio</p>
                                <p class="description mt-3">Amount: 400 DAI</p>
                                <p class="description mt-3">Status: 300 Points</p>
                                <button class="btn btn-success mt-4" (click)="conectPortis()">Register DeEd</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row mb-4">
                    <div class="col-lg-4 mt-4">
                        <div class="card card-lift--hover shadow border-0 text-center">
                            <div class="card-body py-5">
                                <div class="icon icon-shape icon-shape-default rounded-circle mb-4">
                                    1
                                </div>
                                <h6 class="text-default text-uppercase">Apply For Course</h6>
                                <p class="description mt-3">To connect to DeEd you need to install a Portis Wallet.</p>
                                <a *ngIf=globals.selectedClassroom (click)="openModal('custom-modal-1')" class="btn btn-default mt-4 text-white">Apply</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 mt-4">
                        <div class="card card-lift--hover shadow border-0 text-center">
                            <div class="card-body py-5">
                                <div class="icon icon-shape icon-shape-default rounded-circle mb-4">
                                    2
                                </div>
                                <h6 class="text-default text-uppercase">Call for a Grant</h6>
                                <p class="description mt-3">To connect to DeEd you need to install a Portis Wallet.</p>
                                <a *ngIf=globals.selectedClassroom (click)="openModal('custom-modal-2')" class="btn btn-default mt-4 text-white">Call</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 mt-4">
                        <div class="card card-lift--hover shadow border-0 text-center">
                            <div class="card-body py-5">
                                <div class="icon icon-shape icon-shape-default rounded-circle mb-4">
                                    3
                                </div>
                                <h6 class="text-default text-uppercase">Start Application</h6>
                                <p class="description mt-3">To connect to DeEd you need to install a Portis Wallet.</p>
                                <a *ngIf=globals.selectedClassroom (click)="openModal('custom-modal-3')" class="btn btn-default mt-4 text-white">Deposit</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 mt-4">
                        <div class="card card-lift--hover shadow border-0 text-center">
                            <div class="card-body py-5">
                                <div class="icon icon-shape icon-shape-default rounded-circle mb-4">
                                    4
                                </div>
                                <h6 class="text-default text-uppercase">Access Material</h6>
                                <p class="description mt-3">To connect to DeEd you need to install a Portis Wallet.</p>
                                <a *ngIf=globals.selectedClassroom (click)="openModal('custom-modal-4')" class="btn btn-default mt-4 text-white">Recieve</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 mt-4">
                        <div class="card card-lift--hover shadow border-0 text-center">
                            <div class="card-body py-5">
                                <div class="icon icon-shape icon-shape-default rounded-circle mb-4">
                                    5
                                </div>
                                <h6 class="text-default text-uppercase">Submit Your Answer</h6>
                                <p class="description mt-3">To connect to DeEd you need to install a Portis Wallet.</p>
                                <a *ngIf=globals.selectedClassroom (click)="openModal('custom-modal-5')" class="btn btn-default mt-4 text-white">Submit</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-8 mt-4">
                        <div class="card card-lift--hover shadow border-0 text-center">
                            <div class="card-body py-5">
                                <div class="icon icon-shape icon-shape-default rounded-circle mb-4">
                                    6
                                </div>
                                <h6 class="text-default text-uppercase">Claim Your Reward</h6>
                                <p class="description mt-3">To connect to DeEd you need to install a Portis Wallet.</p><br>
                                <a *ngIf=globals.selectedClassroom (click)="openModal('custom-modal-6')" class="btn btn-default mt-4 text-white">Claim</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 mt-4">
                        <div class="card card-lift--hover shadow border-0 text-center">
                            <div class="card-body py-5">
                                <div class="icon icon-shape icon-shape-default rounded-circle mb-4">
                                    7
                                </div>
                                <h6 class="text-default text-uppercase">Start your own classroom</h6>
                                <p class="description mt-3">To connect to DeEd you need to install a Portis Wallet.</p>
                                <a *ngIf=globals.selectedClassroom (click)="openModal('custom-modal-7')" class="btn btn-default mt-4 text-white">Claim</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div *ngIf=!globals.selectedClassroom class="row mb-4">
            <div class="container">
                <div class="card bg-gradient-success shadow-lg border-0">
                    <div class="p-5">
                        <div class="row align-items-center">
                            <div class="col-lg-8">
                                <h4 class="text-white">Start by choosing the perfect classroom for you.</h4>
                                <p class="lead text-white mt-3">You will need to connect to a wallet service in order to interact with this dApp.</p>
                            </div>
                            <div class="col-lg-3 ml-lg-auto"><a [routerLink]="['/']" fragment=classrooms class="btn btn-lg btn-block btn-white">SELECT CLASSROOM</a></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <jw-modal id="custom-modal-register">
        <form role="form">
            <div class="row justify-content-center">
                <div class="col-md-8">
                    <div class="card shadow bg-gradient-default border-0">
                        <div class="card-body py-5">
                            <h3 class="text-center text-white">Register at University</h3>
                            <div class="row mt-3">
                                <div class="col-md-12">
                                    <h2 class="description text-white">Argon is a great free UI package based on Angular that includes the most important components and features.</h2>
                                </div>
                            </div>
                            <div class="row mt-3">
                                <div class="col-md-12">
                                    <div class="form-group" [ngClass]="{'focused':focus===true}">
                                        <div class="input-group input-group-alternative mb-3">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text"><i class="ni ni-hat-3"></i></span>
                                            </div>
                                            <input class="form-control" placeholder="Name" type="text" (focus)="focus=true" (blur)="focus=false">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="form-group" [ngClass]="{'focused':focus1===true}">
                                        <div class="input-group input-group-alternative mb-3">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text"><i class="fa fa-link"></i></span>
                                            </div>
                                            <input class="form-control" placeholder="Address" type="text" (focus)="focus1=true" (blur)="focus1=false">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row mt-3">
                                <div class="col-md-12">
                                    <div class="alert alert-warning" role="alert">
                                        <strong>Warning!</strong> Processing Transation...
                                    </div>
                                    <div class="alert alert-success" role="alert">
                                        <strong>Success!</strong> This is a success alert—check it out!
                                    </div>
                                    <div class="alert alert-danger" role="alert">
                                        <strong>Failed!</strong> This is a danger alert—check it out!
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card-footer bg-gradient-default">
                            <a (click)="closeModal('custom-modal-register')" class="btn btn-neutral btn-icon mb-3 mb-sm-0">
                                <span class="btn-inner--icon"><i class="fa fa-university"></i></span>
                                <span class="btn-inner--text">Back</span>
                            </a>
                            <a class="btn btn-success btn-icon text-white mb-3 mb-sm-0">
                                <span class="btn-inner--icon"><i class="fa fa-sync"></i></span>
                                <span class="btn-inner--text">Register</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </jw-modal>
    <jw-modal id="custom-modal-1">
        <form role="form">
            <div class="modal-header">
                <h3 class="modal-title">Apply for this Classroom</h3>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group" [ngClass]="{'focused':focus===true}">
                            <div class="input-group input-group-alternative mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="ni ni-hat-3"></i></span>
                                </div>
                                <input class="form-control" placeholder="Name" type="text" (focus)="focus=true" (blur)="focus=false">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group" [ngClass]="{'focused':focus1===true}">
                            <div class="input-group input-group-alternative mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="fa fa-link"></i></span>
                                </div>
                                <input class="form-control" placeholder="Address" type="text" (focus)="focus1=true" (blur)="focus1=false">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="progress">
                    <div class="progress-bar bg-success" role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary">Save changes</button>
                <button type="button" class="btn btn-secondary" (click)="closeModal('custom-modal-1');">Close</button>
            </div>
        </form>
    </jw-modal>
    <jw-modal id="custom-modal-2">
        <form role="form">
            <div class="modal-header">
                <h3 class="modal-title">Start Your Application</h3>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group" [ngClass]="{'focused':focus===true}">
                            <div class="input-group input-group-alternative mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="ni ni-hat-3"></i></span>
                                </div>
                                <input class="form-control" placeholder="Name" type="text" (focus)="focus=true" (blur)="focus=false">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group" [ngClass]="{'focused':focus1===true}">
                            <div class="input-group input-group-alternative mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="fa fa-link"></i></span>
                                </div>
                                <input class="form-control" placeholder="Address" type="text" (focus)="focus1=true" (blur)="focus1=false">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="progress">
                    <div class="progress-bar bg-success" role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary">Save changes</button>
                <button type="button" class="btn btn-secondary" (click)="closeModal('custom-modal-2');">Close</button>
            </div>
        </form>
    </jw-modal>
    <jw-modal id="custom-modal-3">
        <form role="form">
            <div class="modal-header">
                <h3 class="modal-title">Call for a grant</h3>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group" [ngClass]="{'focused':focus===true}">
                            <div class="input-group input-group-alternative mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="ni ni-hat-3"></i></span>
                                </div>
                                <input class="form-control" placeholder="Name" type="text" (focus)="focus=true" (blur)="focus=false">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group" [ngClass]="{'focused':focus1===true}">
                            <div class="input-group input-group-alternative mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="fa fa-link"></i></span>
                                </div>
                                <input class="form-control" placeholder="Address" type="text" (focus)="focus1=true" (blur)="focus1=false">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="progress">
                    <div class="progress-bar bg-success" role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary">Save changes</button>
                <button type="button" class="btn btn-secondary" (click)="closeModal('custom-modal-3');">Close</button>
            </div>
        </form>
    </jw-modal>
    <jw-modal id="custom-modal-4">
        <form role="form">
            <div class="modal-header">
                <h3 class="modal-title">Recieve classroom material</h3>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group" [ngClass]="{'focused':focus===true}">
                            <div class="input-group input-group-alternative mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="ni ni-hat-3"></i></span>
                                </div>
                                <input class="form-control" placeholder="Name" type="text" (focus)="focus=true" (blur)="focus=false">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group" [ngClass]="{'focused':focus1===true}">
                            <div class="input-group input-group-alternative mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="fa fa-link"></i></span>
                                </div>
                                <input class="form-control" placeholder="Address" type="text" (focus)="focus1=true" (blur)="focus1=false">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="progress">
                    <div class="progress-bar bg-success" role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary">Save changes</button>
                <button type="button" class="btn btn-secondary" (click)="closeModal('custom-modal-4');">Close</button>
            </div>
        </form>
    </jw-modal>
    <jw-modal id="custom-modal-5">
        <form role="form">
            <div class="modal-header">
                <h3 class="modal-title">Submit your answer</h3>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group" [ngClass]="{'focused':focus===true}">
                            <div class="input-group input-group-alternative mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="ni ni-hat-3"></i></span>
                                </div>
                                <input class="form-control" placeholder="Name" type="text" (focus)="focus=true" (blur)="focus=false">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group" [ngClass]="{'focused':focus1===true}">
                            <div class="input-group input-group-alternative mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="fa fa-link"></i></span>
                                </div>
                                <input class="form-control" placeholder="Address" type="text" (focus)="focus1=true" (blur)="focus1=false">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="progress">
                    <div class="progress-bar bg-success" role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary">Save changes</button>
                <button type="button" class="btn btn-secondary" (click)="closeModal('custom-modal-5');">Close</button>
            </div>
        </form>
    </jw-modal>
    <jw-modal id="custom-modal-6"></jw-modal>
    <jw-modal id="custom-modal-7"></jw-modal>
    <jw-modal id="custom-modal-details">
        <form role="form">
            <div class="modal-header">
                <h3 class="modal-title">Classroom Details</h3>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group" [ngClass]="{'focused':focus===true}">
                            <div class="input-group input-group-alternative mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="ni ni-hat-3"></i></span>
                                </div>
                                <input class="form-control" placeholder="Name" type="text" (focus)="focus=true" (blur)="focus=false">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group" [ngClass]="{'focused':focus1===true}">
                            <div class="input-group input-group-alternative mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="fa fa-link"></i></span>
                                </div>
                                <input class="form-control" placeholder="Address" type="text" (focus)="focus1=true" (blur)="focus1=false">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group" [ngClass]="{'focused':focus===true}">
                            <div class="input-group input-group-alternative mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="ni ni-hat-3"></i></span>
                                </div>
                                <input class="form-control" placeholder="Name" type="text" (focus)="focus=true" (blur)="focus=false">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group" [ngClass]="{'focused':focus1===true}">
                            <div class="input-group input-group-alternative mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="fa fa-link"></i></span>
                                </div>
                                <input class="form-control" placeholder="Address" type="text" (focus)="focus1=true" (blur)="focus1=false">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group" [ngClass]="{'focused':focus===true}">
                            <div class="input-group input-group-alternative mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="ni ni-hat-3"></i></span>
                                </div>
                                <input class="form-control" placeholder="Name" type="text" (focus)="focus=true" (blur)="focus=false">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group" [ngClass]="{'focused':focus1===true}">
                            <div class="input-group input-group-alternative mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="fa fa-link"></i></span>
                                </div>
                                <input class="form-control" placeholder="Address" type="text" (focus)="focus1=true" (blur)="focus1=false">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary">Save changes</button>
                <button type="button" class="btn btn-secondary" (click)="closeModal('custom-modal-details');">Close</button>
            </div>
        </form>
    </jw-modal>
</main>