<main>
    <section class="section section-shaped section-lg">
      <div class="shape shape-style-1 bg-gradient-default">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
      </div>
      <div class="container py-lg-md d-flex">
        <div class="col">
          <div class="row mb-4">
            <div class="col-lg-8 mb-4">
              <h1 class="display-3  text-white">classroom
                <span>Learn Solidity</span>
              </h1>
              <p class="lead  text-white">Here you can see all details of this course and interact with classroom smart
                contract.</p>
              <div class="btn-wrapper">
                <a (click)="openModal('custom-modal-details');" class="btn btn-success btn-icon mb-3 mb-sm-0">
                  <span class="btn-inner--icon"><i class="fa fa-search"></i></span>
                  <span class="btn-inner--text">Details</span>
                </a>
                <a href="#clasrooms" class="btn btn-white btn-icon mb-3 mb-sm-0">
                  <span class="btn-inner--icon"><i class="fa fa-university"></i></span>
                  <span class="btn-inner--text">Back</span>
                </a>
              </div>
            </div>
            <div class="col-lg-4" *ngIf="mode=='loadingPage'">
              <div class="card card-lift--hover shadow border-0 text-center">
                <div class="card-body py-5">
                  <div class="icon icon-shape icon-shape-warning rounded-circle fa-3x mb-4">
                    <i class="fa fa-wifi"></i>
                  </div>
                  <h6 class="text-warning text-uppercase">Connecting</h6>
                  <p class="description mt-3">Connecting to your Wallet Provider and DeEd University.</p>
                </div>
              </div>
            </div>
            <div class="col-lg-4" *ngIf="mode=='unconnected'">
              <div class="card card-lift--hover shadow border-0 text-center">
                <div class="card-body py-5">
                  <div class="icon icon-shape icon-shape-info rounded-circle mb-4">
                    <i class="fa fa-star"></i>
                  </div>
                  <h6 class="text-info text-uppercase">Welcome to DeEd</h6>
                  <p class="description mt-3">To connect to DeEd you need to install a Portis Wallet.</p>
                  <button class="btn btn-info mt-4" (click)="conectPortis()">Conect Portis</button>
                </div>
              </div>
            </div>
            <div class="col-lg-4" *ngIf="mode=='connected'">
              <div class="card card-lift--hover shadow border-0 text-center">
                <div class="card-body py-5">
                  <div class="icon icon-shape icon-shape-primary rounded-circle mb-4">
                    <i class="fa fa-user"></i>
                  </div>
                  <h6 class="text-primary text-uppercase">Register Your Account</h6>
                  <p class="description mt-3">To do a apllication and use DeEd you need to register at University.</p>
                  <div #onLoginPlaceholder1></div>
                  <button class="btn btn-primary mt-4" (click)="openModal('custom-modal-register')">Register DeEd</button>
                </div>
              </div>
            </div>
            <div class="col-lg-4" *ngIf="mode=='registered'">
              <div class="card card-lift--hover shadow border-0 text-center">
                <div class="card-body py-5">
                  <div class="icon icon-shape icon-shape-success rounded-circle mb-4">
                    <i class="fa fa-wallet"></i>
                  </div>
                  <h6 class="text-success text-uppercase">Your Account</h6>
                  <p class="description mt-3">Address: usdhfusdgfuisdhidshfiodshfhdsiofjhdiofjdio</p>
                  <p class="description mt-3">Amount: 400 DAI</p>
                  <p class="description mt-3">Status: 300 Points</p>
                  <button class="btn btn-success mt-4" (click)="conectPortis()">Register DeEd</button>
                </div>
              </div>
            </div>
          </div>
          <div class="row mb-4">
            <div class="col-lg-4 mt-4">
              <div class="card card-lift--hover shadow border-0 text-center">
                <div class="card-body py-5">
                  <div class="icon icon-shape icon-shape-default rounded-circle mb-4">
                    1
                  </div>
                  <h6 class="text-default text-uppercase">Apply For This Course</h6>
                  <p class="description mt-3">To connect to DeEd you need to install a Portis Wallet.</p>
                  <a (click)="openModal('custom-modal-1')" class="btn btn-default mt-4 text-white">Apply</a>
                </div>
              </div>
            </div>
            <div class="col-lg-4 mt-4">
              <div class="card card-lift--hover shadow border-0 text-center">
                <div class="card-body py-5">
                  <div class="icon icon-shape icon-shape-default rounded-circle mb-4">
                    2
                  </div>
                  <h6 class="text-default text-uppercase">Call for a Grant</h6>
                  <p class="description mt-3">To connect to DeEd you need to install a Portis Wallet.</p>
                  <a (click)="openModal('custom-modal-2')" class="btn btn-default mt-4 text-white">Call</a>
                </div>
              </div>
            </div>
            <div class="col-lg-4 mt-4">
              <div class="card card-lift--hover shadow border-0 text-center">
                <div class="card-body py-5">
                  <div class="icon icon-shape icon-shape-default rounded-circle mb-4">
                    3
                  </div>
                  <h6 class="text-default text-uppercase">Start Application</h6>
                  <p class="description mt-3">To connect to DeEd you need to install a Portis Wallet.</p>
                  <a (click)="openModal('custom-modal-3')" class="btn btn-default mt-4 text-white">Deposit</a>
                </div>
              </div>
            </div>
            <div class="col-lg-6 mt-4">
              <div class="card card-lift--hover shadow border-0 text-center">
                <div class="card-body py-5">
                  <div class="icon icon-shape icon-shape-default rounded-circle mb-4">
                    4
                  </div>
                  <h6 class="text-default text-uppercase">Access Material</h6>
                  <p class="description mt-3">To connect to DeEd you need to install a Portis Wallet.</p>
                  <a (click)="openModal('custom-modal-4')" class="btn btn-default mt-4 text-white">Recieve</a>
                </div>
              </div>
            </div>
            <div class="col-lg-6 mt-4">
              <div class="card card-lift--hover shadow border-0 text-center">
                <div class="card-body py-5">
                  <div class="icon icon-shape icon-shape-default rounded-circle mb-4">
                    5
                  </div>
                  <h6 class="text-default text-uppercase">Submit Your Answer</h6>
                  <p class="description mt-3">To connect to DeEd you need to install a Portis Wallet.</p>
                  <a (click)="openModal('custom-modal-5')" class="btn btn-default mt-4 text-white">Submit</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <jw-modal id="custom-modal-register">
      <form role="form">
        <div class="modal-header">
          <h3 class="modal-title">Register at University</h3>
        </div>
        <div class="modal-body">
          <div class="row">
            <div class="col-md-6">
              <div class="form-group" [ngClass]="{'focused':focus===true}">
                <div class="input-group input-group-alternative mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text"><i class="ni ni-hat-3"></i></span>
                  </div>
                  <input class="form-control" placeholder="Name" id="nameRegister"  type="text" (focus)="focus=true" (blur)="focus=false">
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group" [ngClass]="{'focused':focus1===true}">
                <div class="input-group input-group-alternative mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text"><i class="fa fa-link"></i></span>
                  </div>
                  <input class="form-control" placeholder="Address" id="addressRegister" type="text" (focus)="focus1=true"
                    (blur)="focus1=false">
                </div>
              </div>
            </div>
          </div>
          <div class="progress">
            <div class="progress-bar bg-success" role="progressbar" style="width: 25%" aria-valuenow="25"
              aria-valuemin="0" aria-valuemax="100"></div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary">Save changes</button>
          <button type="button" class="btn btn-secondary" (click)="closeModal('custom-modal-register');">Close</button>
        </div>
      </form>
    </jw-modal>
    <jw-modal id="custom-modal-1">
      <form role="form">
        <div class="modal-header">
          <h3 class="modal-title">Apply for this Classroom</h3>
        </div>
        <div class="modal-body">
          <div class="row">
            <div class="col-md-6">
              <div class="form-group" [ngClass]="{'focused':focus===true}">
                <div class="input-group input-group-alternative mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text"><i class="ni ni-hat-3"></i></span>
                  </div>
                  <input class="form-control" placeholder="Name" type="text" (focus)="focus=true" (blur)="focus=false">
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group" [ngClass]="{'focused':focus1===true}">
                <div class="input-group input-group-alternative mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text"><i class="fa fa-link"></i></span>
                  </div>
                  <input class="form-control" placeholder="Address" type="text" (focus)="focus1=true"
                    (blur)="focus1=false">
                </div>
              </div>
            </div>
          </div>
          <div class="progress">
            <div class="progress-bar bg-success" role="progressbar" style="width: 25%" aria-valuenow="25"
              aria-valuemin="0" aria-valuemax="100"></div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary">Save changes</button>
          <button type="button" class="btn btn-secondary" (click)="closeModal('custom-modal-1');">Close</button>
        </div>
      </form>
    </jw-modal>
    <jw-modal id="custom-modal-2">
      <form role="form">
        <div class="modal-header">
          <h3 class="modal-title">Start Your Application</h3>
        </div>
        <div class="modal-body">
          <div class="row">
            <div class="col-md-6">
              <div class="form-group" [ngClass]="{'focused':focus===true}">
                <div class="input-group input-group-alternative mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text"><i class="ni ni-hat-3"></i></span>
                  </div>
                  <input class="form-control" placeholder="Name" type="text" (focus)="focus=true" (blur)="focus=false">
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group" [ngClass]="{'focused':focus1===true}">
                <div class="input-group input-group-alternative mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text"><i class="fa fa-link"></i></span>
                  </div>
                  <input class="form-control" placeholder="Address" type="text" (focus)="focus1=true"
                    (blur)="focus1=false">
                </div>
              </div>
            </div>
          </div>
          <div class="progress">
            <div class="progress-bar bg-success" role="progressbar" style="width: 25%" aria-valuenow="25"
              aria-valuemin="0" aria-valuemax="100"></div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary">Save changes</button>
          <button type="button" class="btn btn-secondary" (click)="closeModal('custom-modal-2');">Close</button>
        </div>
      </form>
    </jw-modal>
    <jw-modal id="custom-modal-3">
      <form role="form">
        <div class="modal-header">
          <h3 class="modal-title">Call for a grant</h3>
        </div>
        <div class="modal-body">
          <div class="row">
            <div class="col-md-6">
              <div class="form-group" [ngClass]="{'focused':focus===true}">
                <div class="input-group input-group-alternative mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text"><i class="ni ni-hat-3"></i></span>
                  </div>
                  <input class="form-control" placeholder="Name" type="text" (focus)="focus=true" (blur)="focus=false">
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group" [ngClass]="{'focused':focus1===true}">
                <div class="input-group input-group-alternative mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text"><i class="fa fa-link"></i></span>
                  </div>
                  <input class="form-control" placeholder="Address" type="text" (focus)="focus1=true"
                    (blur)="focus1=false">
                </div>
              </div>
            </div>
          </div>
          <div class="progress">
            <div class="progress-bar bg-success" role="progressbar" style="width: 25%" aria-valuenow="25"
              aria-valuemin="0" aria-valuemax="100"></div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary">Save changes</button>
          <button type="button" class="btn btn-secondary" (click)="closeModal('custom-modal-3');">Close</button>
        </div>
      </form>
    </jw-modal>
    <jw-modal id="custom-modal-4">
      <form role="form">
        <div class="modal-header">
          <h3 class="modal-title">Recieve classroom material</h3>
        </div>
        <div class="modal-body">
          <div class="row">
            <div class="col-md-6">
              <div class="form-group" [ngClass]="{'focused':focus===true}">
                <div class="input-group input-group-alternative mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text"><i class="ni ni-hat-3"></i></span>
                  </div>
                  <input class="form-control" placeholder="Name" type="text" (focus)="focus=true" (blur)="focus=false">
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group" [ngClass]="{'focused':focus1===true}">
                <div class="input-group input-group-alternative mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text"><i class="fa fa-link"></i></span>
                  </div>
                  <input class="form-control" placeholder="Address" type="text" (focus)="focus1=true"
                    (blur)="focus1=false">
                </div>
              </div>
            </div>
          </div>
          <div class="progress">
            <div class="progress-bar bg-success" role="progressbar" style="width: 25%" aria-valuenow="25"
              aria-valuemin="0" aria-valuemax="100"></div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary">Save changes</button>
          <button type="button" class="btn btn-secondary" (click)="closeModal('custom-modal-4');">Close</button>
        </div>
      </form>
    </jw-modal>
    <jw-modal id="custom-modal-5">
      <form role="form">
        <div class="modal-header">
          <h3 class="modal-title">Submit your answer</h3>
        </div>
        <div class="modal-body">
          <div class="row">
            <div class="col-md-6">
              <div class="form-group" [ngClass]="{'focused':focus===true}">
                <div class="input-group input-group-alternative mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text"><i class="ni ni-hat-3"></i></span>
                  </div>
                  <input class="form-control" placeholder="Name" type="text" (focus)="focus=true" (blur)="focus=false">
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group" [ngClass]="{'focused':focus1===true}">
                <div class="input-group input-group-alternative mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text"><i class="fa fa-link"></i></span>
                  </div>
                  <input class="form-control" placeholder="Address" type="text" (focus)="focus1=true"
                    (blur)="focus1=false">
                </div>
              </div>
            </div>
          </div>
          <div class="progress">
            <div class="progress-bar bg-success" role="progressbar" style="width: 25%" aria-valuenow="25"
              aria-valuemin="0" aria-valuemax="100"></div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary">Save changes</button>
          <button type="button" class="btn btn-secondary" (click)="closeModal('custom-modal-5');">Close</button>
        </div>
      </form>
    </jw-modal>
    <jw-modal id="custom-modal-details">
      <form role="form">
        <div class="modal-header">
          <h3 class="modal-title">Classroom Details</h3>
        </div>
        <div class="modal-body">
          <div class="row">
            <div class="col-md-6">
              <div class="form-group" [ngClass]="{'focused':focus===true}">
                <div class="input-group input-group-alternative mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text"><i class="ni ni-hat-3"></i></span>
                  </div>
                  <input class="form-control" placeholder="Name" type="text" (focus)="focus=true" (blur)="focus=false">
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group" [ngClass]="{'focused':focus1===true}">
                <div class="input-group input-group-alternative mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text"><i class="fa fa-link"></i></span>
                  </div>
                  <input class="form-control" placeholder="Address" type="text" (focus)="focus1=true"
                    (blur)="focus1=false">
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <div class="form-group" [ngClass]="{'focused':focus===true}">
                <div class="input-group input-group-alternative mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text"><i class="ni ni-hat-3"></i></span>
                  </div>
                  <input class="form-control" placeholder="Name" type="text" (focus)="focus=true" (blur)="focus=false">
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group" [ngClass]="{'focused':focus1===true}">
                <div class="input-group input-group-alternative mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text"><i class="fa fa-link"></i></span>
                  </div>
                  <input class="form-control" placeholder="Address" type="text" (focus)="focus1=true"
                    (blur)="focus1=false">
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <div class="form-group" [ngClass]="{'focused':focus===true}">
                <div class="input-group input-group-alternative mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text"><i class="ni ni-hat-3"></i></span>
                  </div>
                  <input class="form-control" placeholder="Name" type="text" (focus)="focus=true" (blur)="focus=false">
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group" [ngClass]="{'focused':focus1===true}">
                <div class="input-group input-group-alternative mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text"><i class="fa fa-link"></i></span>
                  </div>
                  <input class="form-control" placeholder="Address" type="text" (focus)="focus1=true"
                    (blur)="focus1=false">
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary">Save changes</button>
          <button type="button" class="btn btn-secondary" (click)="closeModal('custom-modal-details');">Close</button>
        </div>
      </form>
    </jw-modal>
  </main>